:root{
    --color-principal: rgb(81, 255, 0);
    --color-secundario: rgb(255, 255, 255); 
    --color-terciario: rgb(233, 189, 123);
    --color-texttitulo: white;
}
body{
    width: 100%;
}

.classPrueba{
    display: none;
    color: blue;
}
.productContainer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:  100px;
    padding: 10px;
    justify-content: space-around;
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-terciario);
    margin-top: 50px;
    border-radius: 10px;
}

.descriptiomProduct{
    display: flex;
    flex-direction: column;
    background-color:var(--color-secundario);
    width: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.descriptionBuy{
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    width: 25%;
    background-color: var(--color-secundario);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
}
.purchase{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/3;
    font-size: 30px;
}
.order{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/3;
    font-size: 30px;
}

.pOrderR{
    margin-right: auto;
    margin-left: 5px;
}

.pOrderL{
    margin-left: auto;
    margin-right: 5px;
}

.separador{
    height: 2px;
    width: 70%;
    background-color: rgb(214, 214, 211);
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
}

#total{
    font-weight: bold;
}

.tituloh2{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.intDescriptionProduct{
    display: flex;
    flex-direction: row;
    background-color: var(--color-secundario);
}
.description{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px; 
}
img{
    width: 70%;
    align-self: center;
}

.tittleBuy{
    margin-left: auto;
    margin-right: auto;
    background-color: violet;
}
.divimg{
    justify-content: center;
}
/*-------- shipping ------------------*/
.shipping{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
}
.formContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.mensageDiv{
    margin-top: 20px;
}
.TextNorm{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

textarea{
    resize: none;  
}

