
.ocultar{
    display: none;
}

.mostrar{
    display: block;
}




#total{
    font-weight: bold;
}

.tituloh2{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.intDescriptionProduct{
    display: flex;
    flex-direction: row;
    background-color: var(--color-secundario);
}
.description{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px; 
}
img{
    width: 70%;
    align-self: center;
}


.divimg{
    justify-content: center;
}
/*-------- shipping ------------------*/
.shipping{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
}
.formContainer{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.mensageDiv{
    margin-top: 20px;
}
.TextNorm{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

textarea{
    resize: none;  
}

